<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nailnafir.liburan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nailnafir.liburan.DialogBarcode" />
        <activity android:name="com.nailnafir.liburan.EditProfileActivity" />
        <activity android:name="com.nailnafir.liburan.MyTicketDetailActivity" />
        <activity android:name="com.nailnafir.liburan.MyBalanceActivity" />
        <activity android:name="com.nailnafir.liburan.MyTicketActivity" />
        <activity android:name="com.nailnafir.liburan.SuccessBuyTicketActivity" />
        <activity android:name="com.nailnafir.liburan.TicketCheckoutActivity" />
        <activity android:name="com.nailnafir.liburan.TicketDetailActivity" />
        <activity android:name="com.nailnafir.liburan.GetStarted3" />
        <activity android:name="com.nailnafir.liburan.GetStarted2" />
        <activity android:name="com.nailnafir.liburan.GetStarted1" />
        <activity android:name="com.nailnafir.liburan.HomeActivity" />
        <activity android:name="com.nailnafir.liburan.MyProfileActivity" />
        <activity android:name="com.nailnafir.liburan.SuccessRegisterActivity" />
        <activity android:name="com.nailnafir.liburan.RegisterTwoActivity" />
        <activity android:name="com.nailnafir.liburan.RegisterOneActivity" />
        <activity android:name="com.nailnafir.liburan.LoginActivity" />
        <activity
            android:name="com.nailnafir.liburan.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>